[Desktop Entry]
Encoding=UTF-8
Version=1.02 Beta
Type=Application
Terminal=true
Exec=gnome-terminal --working-directory='~/' -e 'Project/KannadaTTS-Application/run.sh -kan'
Icon=/home/shashank/Project/KannadaTTS-Application/Screenshots/icon.svg
Name[en_US]=Kannada TTS(kn)

